*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

#stopwatch{
     margin-left: 30%;
     margin-top: 10%;
    /* border: 1px solid black; */
    width: 575px
}

#time-block{
    display: flex;
    /* justify-content: space-evenly; */
}

#time-block>p{
    height: 50px;
    width: 120px;
    font-size: 48px;
}

#time-block>p{
    margin-left: 20px;
}

#time-block>span{
    font-size: 48px;
    margin-left: 40px;
    margin-right: 30px;
}



#btns-block{
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.btns{
    height: 50px;
    width: 120px;
    background: transparent;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}

#startBtn{
    color: green;
}

#pauseBtn{
    color: red;
}

#resetBtn{
    color: rgb(255, 179, 0);
}

#castBtn{
    color: purple;
}